{% block content %}
    {% if friends %}
        {% for friend in friends %}
            <li class="list-group-item">
                <div class="row align-items-center gx-5">
                    <!-- Icons -->
                    <div class="col-auto">
                        <div class="avatar-group">
                            <a href="{% url 'account:view' user_id=friend.0.pk %}" class="avatar avatar-sm">
                                <img src="{{ friend.0.profile_image.url }}" class="avatar-img" alt="#">
                            </a>

                        </div>
                    </div>
                    <!-- Icons -->

                    <!-- Text -->
                    <div class="col overflow-hidden">
                        <h5 class="text-truncate">
                            <a href="{% url 'account:view' user_id=friend.0.pk %}">{{ friend.0.username|truncatechars:50 }}</a>
                        </h5>
                        <ul class="list-inline m-0">
                            {% if friend.1 %}
                                <li class="list-inline-item">
                                    <a class="d-flex align-items-center" href="#"
                                       onclick="createOrReturnPrivateChat('{{ friend.0.id }}')">
                                        Send a Message
                                        <div class="icon px-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-send">
                                                <line x1="22" y1="2" x2="11" y2="13"></line>
                                                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                            </svg>
                                        </div>
                                    </a>
                                </li>


                            {% endif %}

                        </ul>
                    </div>
                    <!-- Text -->
                    <div class="col-auto">
                        {% if friend.1 %}
                            <div class="d-flex flex-row text-muted">
                                <p class="mx-4">
                                    Friends
                                </p>

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user-check">
                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="8.5" cy="7" r="4"></circle>
                                    <polyline points="17 11 19 13 23 9"></polyline>
                                </svg>
                            </div>
                        {% else %}
                            {% if friend.0 !=  request.user %}
                                <div class="d-flex flex-row text-muted">
                                    <p class="mx-4">
                                        Not Friends
                                    </p>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-user-x">
                                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="8.5" cy="7" r="4"></circle>
                                        <line x1="18" y1="8" x2="23" y2="13"></line>
                                        <line x1="23" y1="8" x2="18" y2="13"></line>
                                    </svg>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if friend.0 == request.user %}
                            <div class="d-flex flex-row text-muted">
                                <p class="mx-4">
                                    This is you
                                </p>

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Dropdown -->
                    <div class="col-auto">
                        <div class="dropdown">
                            <a class="icon text-muted" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center text-info" href="#"
                                       onclick="createOrReturnPrivateChat('{{ friend.0.id }}')">
                                        Send Message
                                        <div class="icon ms-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-send">
                                                <line x1="22" y1="2" x2="11" y2="13"></line>
                                                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center"
                                       href="{% url 'account:view' user_id=friend.0.pk %}">
                                        Show Profile
                                        <div class="icon ms-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-user-check">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <polyline points="17 11 19 13 23 9"></polyline>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                {% if is_self %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>

                                    <li>
                                        <a class="dropdown-item d-flex align-items-center text-danger"
                                           href="#" onclick="removeFriend('{{ friend.0.pk }}', onFriendRemoved)">
                                            <span class="me-auto">Unfriend</span>
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-user-x">
                                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="8.5" cy="7" r="4"></circle>
                                                    <line x1="18" y1="8" x2="23" y2="13"></line>
                                                    <line x1="23" y1="8" x2="18" y2="13"></line>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- Dropdown -->
                </div>
            </li>

        {% endfor %}


    {% else %} <!-- If no friends -->
        <li class="list-group-item">
            <div class="row align-items-center gx-5 text-center">
                <h5 class="text-muted"> No Friends 😞</h5>
            </div>
        </li>
    {% endif %}


    {% include 'components/create_or_return_private_chat.html' %}


{% endblock content %}