{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="main is-visible">
        <div class="container h-100">

            <div class="d-flex flex-column h-100 position-relative">
                <!-- Chat: Header -->
                <div class="chat-header border-bottom py-4 py-lg-7">
                    <div class="row align-items-center">

                        <!-- Mobile: close -->
                        <div class="col-2 d-xl-none">
                            <a class="icon icon-lg text-muted" href="#" onclick="toggleMainClass()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-chevron-left">
                                    <polyline points="15 18 9 12 15 6"></polyline>
                                </svg>
                            </a>
                        </div>
                        <!-- Mobile: close -->

                        <!-- Content -->
                        <div class="col-8 col-xl-12">
                            <div class="row align-items-center text-center text-xl-start">
                                <!-- Title -->
                                <div class="col-12 col-xl-6">
                                    <div class="row align-items-center gx-5">
                                        <div class="col overflow-hidden">
                                            <h5 class="text-truncate">Friend List</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- Title -->


                            </div>
                        </div>
                        <!-- Content -->

                        <!-- Mobile: more -->
                        <div class="col-2 d-xl-none text-end">
                            <a href="#" class="icon icon-lg text-muted" data-bs-toggle="offcanvas"
                               data-bs-target="#offcanvas-more" aria-controls="offcanvas-more">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </a>
                        </div>
                        <!-- Mobile: more -->

                    </div>
                </div>
                <!-- Chat: Header -->

                <!-- Chat: Content -->
                <div class="chat-body hide-scrollbar flex-1 h-100">
                    <div class="chat-body-inner">

                        <div class="container">
                            <div class="card p-2">

                                {% if friends %}
                                    <div class="d-flex flex-row flex-wrap">
                                        {% for friend in friends %}
                                            <div class="card flex-row flex-grow-1 p-2 mx-2 my-2 align-items-center">
                                                <a class="profile-link"
                                                   href="{% url 'account:view' user_id=friend.0.pk %}">
                                                    <div class="card-image m-2">
                                                        <img class="img-fluid profile-image"
                                                             src="{{ friend.0.profile_image.url }}" alt="">
                                                    </div>
                                                </a>

                                                <div class="card-center px-2">
                                                    <a class="profile-link"
                                                       href="{% url 'account:view' user_id=friend.0.pk %}">
                                                        <h4 class="card-title">{{ friend.0.username|truncatechars:50 }}</h4>
                                                    </a>
                                                    {% if friend.1 %}
                                                        <a href="#"
                                                           onclick="createOrReturnPrivateChat('{{ friend.0.id }}')">Send
                                                            a Message</a>
                                                    {% endif %}

                                                </div>

                                                <div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-2">
                                                    {% if friend.1 %}
                                                        <div class="d-flex flex-row friends-text-container p-3">
                                                            <p class="friends-text m-auto">
                                                                Friends
                                                            </p>
                                                            <span class="material-icons checkmark-icon m-auto pl-2">
						check_circle_outline
						</span>
                                                        </div>
                                                    {% else %}
                                                        {% if friend.0 !=  request.user %}
                                                            <div class="d-flex flex-row friends-text-container p-3">
                                                                <p class="friends-text m-auto">
                                                                    Not Friends
                                                                </p>
                                                                <span class="material-icons cancel-icon m-auto pl-2">cancel</span>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if friend.0 == request.user %}
                                                        <div class="d-flex flex-row friends-text-container p-3">
                                                            <p class="friends-text m-auto">
                                                                This is you
                                                            </p>
                                                            <span class="material-icons m-auto pl-2">
						person_pin
						</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if forloop.counter|divisibleby:2 %}
                                                </div>
                                                <div class="d-flex flex-row flex-wrap">
                                            {% endif %}

                                        {% endfor %}

                                {% else %} <!-- If no friends -->
                                    <div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
                                        <p>No friends :(</p>
                                    </div>
                                {% endif %}
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <!-- Chat: Content -->

                <!-- Chat: Footer -->
                <div class="chat-footer pb-3 pb-lg-7 position-absolute bottom-0 start-0">
                    <!-- Chat: Files -->
                    <div class="dz-preview bg-dark" id="dz-preview-row" data-horizontal-scroll="">
                    </div>
                    <!-- Chat: Files -->


                </div>
                <!-- Chat: Footer -->
            </div>

        </div>
        {% include 'components/create_or_return_private_chat.html' %}

    </main>

{% endblock content %}