{% load static %}
{% if debug %}
    PUBLIC CHAT
{% endif %}
<span class="{% if not debug %}d-none{% endif %} page-number" id="id_page_number">1</span>

<!-- Chat -->
<main class="main is-visible" data-dropzone-area="">
    <div class="container h-100">

        <div class="d-flex flex-column h-100 position-relative">
            <!-- Chat: Header -->
            <div class="chat-header border-bottom py-4 py-lg-7">
                <div class="row align-items-center">

                    <!-- Mobile: close -->
                    <div class="col-2 d-xl-none">
                        <a class="icon icon-lg text-muted" href="#" data-toggle-chat="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-chevron-left">
                                <polyline points="15 18 9 12 15 6"></polyline>
                            </svg>
                        </a>
                    </div>
                    <!-- Mobile: close -->

                    <!-- Content -->
                    <div class="col-8 col-xl-12">
                        <div class="row align-items-center text-center text-xl-start">
                            <!-- Title -->
                            <div class="col-12 col-xl-6">
                                <div class="row align-items-center gx-5">
                                    <div class="col-auto">
                                        <div class="avatar avatar-online d-none d-xl-inline-block">
                                            <img class="avatar-img" src="" alt="">
                                        </div>
                                    </div>

                                    <div class="col overflow-hidden">
                                        <h5 class="text-truncate">{{ room_title }}</h5>
                                        <p class="text-truncate" id="id_connected_users"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Title -->

                            <!-- Toolbar -->
                            <div class="col-xl-6 d-none d-xl-block">
                                <div class="row align-items-center justify-content-end gx-6">
                                    <div class="col-auto">
                                        <a href="#" class="icon icon-lg text-muted" data-bs-toggle="offcanvas"
                                           data-bs-target="#offcanvas-more" aria-controls="offcanvas-more">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-more-horizontal">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                    </div>

                                    <div class="col-auto">
                                        <div class="avatar-group">
                                            <a href="#" class="avatar avatar-sm" data-bs-toggle="modal"
                                               data-bs-target="#modal-user-profile">
                                                <img class="avatar-img" src="" alt="#">
                                            </a>

                                            <a href="#" class="avatar avatar-sm" data-bs-toggle="modal"
                                               data-bs-target="#modal-profile">
                                                <img class="avatar-img" src="" alt="#">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Toolbar -->
                        </div>
                    </div>
                    <!-- Content -->

                    <!-- Mobile: more -->
                    <div class="col-2 d-xl-none text-end">
                        <a href="#" class="icon icon-lg text-muted" data-bs-toggle="offcanvas"
                           data-bs-target="#offcanvas-more" aria-controls="offcanvas-more">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-more-vertical">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="12" cy="5" r="1"></circle>
                                <circle cx="12" cy="19" r="1"></circle>
                            </svg>
                        </a>
                    </div>
                    <!-- Mobile: more -->

                </div>
            </div>
            <!-- Chat: Header -->

            <!-- Chat: Content -->
            <div class="chat-body hide-scrollbar flex-1 h-100">
                <div class="chat-body-inner">
                    <div class="d-flex flex-row justify-content-center" id="id_chatroom_loading_spinner_container">
                        <div class="spinner-border text-primary" id="id_chatroom_loading_spinner" role="status"
                             style="display: none; ">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="py-6 py-lg-12" id="id_chat_log" style="overflow-y: auto; height: 1000px;">
                    </div>
                </div>
            </div>
            <!-- Chat: Content -->

            <!-- Chat: Footer -->
            <div class="chat-footer pb-3 pb-lg-7 position-absolute bottom-0 start-0">
                <!-- Chat: Files -->
                <div class="dz-preview bg-dark" id="dz-preview-row" data-horizontal-scroll="">
                </div>
                <!-- Chat: Files -->

                <!-- Chat: Form -->
                <form class="chat-form rounded-pill bg-dark" data-emoji-form="">
                    <div class="row align-items-center gx-0">
                        <div class="col-auto">
                            <a href="#" class="btn btn-icon btn-link text-body rounded-circle" id="dz-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-paperclip">
                                    <path
                                            d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48">
                                    </path>
                                </svg>
                            </a>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <label for="id_chat_message_input"></label><textarea class="form-control px-0"
                                                                                     placeholder="Type your message..."
                                                                                     rows="1"
                                                                                     data-emoji-input=""
                                                                                     data-autosize="true"
                                                                                     id="id_chat_message_input"></textarea>

                                <a href="#" class="input-group-text text-body pe-0" data-emoji-btn="">
                                        <span class="icon icon-lg">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-smile">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                                            </svg>
                                        </span>
                                </a>
                            </div>
                        </div>

                        <div class="col-auto">
                            <button class="btn btn-icon btn-primary rounded-circle ms-5" id="id_chat_message_submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-send">
                                    <line x1="22" y1="2" x2="11" y2="13"></line>
                                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Chat: Form -->
            </div>
            <!-- Chat: Footer -->
        </div>

    </div>
</main>
<!-- Chat -->
{% include 'components/chat-sideprofile.html' %}
<script type="text/javascript">

    // Correctly decide between ws:// and wss://
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    {% if debug_mode %}
        var ws_path = ws_scheme + '://' + window.location.host + "/public_chat/{{room_id}}/"; // development
    {% else %}
        var ws_path = ws_scheme + '://' + window.location.host + ":8001/public_chat/{{room_id}}/"; // production
    {% endif %}
    var public_chat_socket = new WebSocket(ws_path);

    // Handle incoming messages
    public_chat_socket.onmessage = function (message) {
        console.log("Got chat websocket message " + message.data);
        var data = JSON.parse(message.data);

        // display the progress bar?
        displayChatroomLoadingSpinner(data.display_progress_bar)

        // Handle errors (ClientError)
        if (data.error) {
            console.error(data.error + ": " + data.message)
            showClientErrorModal(data.message)
            return;
        }
        // Handle joining (Client perspective)
        if (data.join) {
            console.log("Joining public room " + data.join);
            getRoomChatMessages()
        }

        // Handle getting a message
        if (data.msg_type == 0) {
            appendChatMessage(data, true, true)
        }
        // Handle getting the connected_user count
        if (data.msg_type == 1) {
            setConnectedUsersCount(data['connected_user_count'])
        }
        // new payload of messages coming in from backend
        if (data.messages_payload) {
            console.log("PAYLOAD")
            handleMessagesPayload(data.messages, data.new_page_number)
        }
    };

    public_chat_socket.addEventListener("open", function (e) {
        console.log("Public Public ChatSocket OPEN")
        // join chat room
        if ("{{request.user.is_authenticated}}") {
            public_chat_socket.send(JSON.stringify({
                "command": "join",
                "room": "{{room_id}}"
            }));
        }
    })

    public_chat_socket.onclose = function (e) {
        console.error('Public ChatSocket closed.');
    };

    public_chat_socket.onOpen = function (e) {
        console.log("Public ChatSocket onOpen", e)
    }

    public_chat_socket.onerror = function (e) {
        console.log('Public ChatSocket error', e)
    }

    if (public_chat_socket.readyState == WebSocket.OPEN) {
        console.log("Public ChatSocket OPEN")
    } else if (public_chat_socket.readyState == WebSocket.CONNECTING) {
        console.log("Public ChatSocket connecting..")
    }

    document.getElementById('id_chat_message_input').focus();
    document.getElementById('id_chat_message_input').onkeyup = function (e) {
        e.preventDefault()
        if (e.keyCode === 13 && e.shiftKey) {  // enter + return
            // Handled automatically by textarea
        } else if (e.keyCode === 13 && !e.shiftKey) { // enter + !return
            document.getElementById('id_chat_message_submit').click();
        }
    };

    document.getElementById('id_chat_message_submit').onclick = function (e) {
        e.preventDefault()
        const messageInputDom = document.getElementById('id_chat_message_input');
        const message = messageInputDom.value;
        public_chat_socket.send(JSON.stringify({
            "command": "send",
            "message": message,
            "room_id": "{{room_id}}"
        }));
        messageInputDom.value = '';
    };

    function appendChatMessage(data, maintainPosition, isNewMessage) {
        message = data['message']
        msg_id = data['msg_id']
        uName = data['username']
        user_id = data['user_id']
        profile_image = data['profile_image']
        timestamp = data['natural_timestamp']

        var msg = message;
        var username = uName;
        createChatMessageElement(msg, msg_id, username, profile_image, user_id, timestamp, maintainPosition, isNewMessage)

    }

    function handleMessagesPayload(messages, new_page_number) {
        if (messages != null && messages != "undefined" && messages != "None") {
            setPageNumber(new_page_number)
            messages.forEach(function (message) {
                appendChatMessage(message, true, false)
                let chatBox = document.getElementById("id_chat_log")
                chatBox.scrollTop = chatBox.scrollHeight;
            })
        } else {
            setPaginationExhausted() // no more messages
        }
    }

    function setPageNumber(pageNumber) {
        document.getElementById("id_page_number").innerHTML = pageNumber
    }

    function setPaginationExhausted() {
        setPageNumber("-1")
    }

    /*
        Retrieve the chat room messages given the page number.
    */
    function getRoomChatMessages() {
        var pageNumber = document.getElementById("id_page_number").innerHTML
        if (pageNumber != "-1") {
            setPageNumber("-1") // Do not allow any other queries while one is in progress
            public_chat_socket.send(JSON.stringify({
                "command": "get_room_chat_messages",
                "room_id": "{{room_id}}",
                "page_number": pageNumber,
            }));
        }
    }

    /*
        Get the next page of chat messages when scrolls to bottom
    */
    document.getElementById("id_chat_log").addEventListener("scroll", function (e) {
        var chatLog = document.getElementById("id_chat_log")
        chatLog.addEventListener("scroll", function (e) {
            if ((Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
                getRoomChatMessages()
            }
        });
    })

    function createChatMessageElement(msg, msg_id, username, profile_image, user_id, timestamp, maintainPosition, isNewMessage) {
        var chatLog = document.getElementById("id_chat_log")

        var newMessageDiv = document.createElement("div")
        newMessageDiv.classList.add("message")
        var user = "{{ request.user.id }}"
        if (user_id == user) {
            newMessageDiv.classList.add("message-out")

        }

        var profileButton = document.createElement("a")
        profileButton.classList.add("avatar")
        profileButton.classList.add("avatar-responsive")
        profileButton.setAttribute("data-bs-toggle", "modal")
        profileButton.setAttribute("data-bs-target", "#modal-user-profile")

        var profileImage = document.createElement("img")
        profileImage.addEventListener("click", function (e) {
            selectUser(user_id)
        })
        profileImage.classList.add("avatar-img")
        profileImage.src = profile_image
        var profile_image_id = "id_profile_image_" + msg_id
        profileImage.id = profile_image_id
        profileButton.appendChild(profileImage)
        newMessageDiv.appendChild(profileButton)

        var usernameSpan = document.createElement("span")
        usernameSpan.addEventListener("click", function (e) {
            selectUser(user_id)
        })
        usernameSpan.classList.add("username-span")
        usernameSpan.innerHTML = username
        newMessageDiv.appendChild(usernameSpan)

        var messageInner = document.createElement("div")
        messageInner.classList.add("message-inner")
        newMessageDiv.appendChild(messageInner)

        var messageBody = document.createElement("div")
        messageBody.classList.add("message-body")
        messageInner.appendChild(messageBody)

        var messageContent = document.createElement("div")
        messageContent.classList.add("message-content")
        messageBody.appendChild(messageContent)


        var messageText = document.createElement("div")
        messageText.classList.add("message-text")
        messageContent.appendChild(messageText)


        var messageFooter = document.createElement("div")
        messageFooter.classList.add("message-footer")
        messageInner.appendChild(messageFooter)


        var timestampSpan = document.createElement("span")
        timestampSpan.innerHTML = timestamp
        timestampSpan.classList.add("extra-small")
        timestampSpan.classList.add("text-muted")
        timestampSpan.addEventListener("click", function (e) {
            selectUser(user_id)
        })
        messageFooter.appendChild(timestampSpan)

        if (timestamp.includes("yesterday")) {
            var messageDivider = document.createElement("div")
            newMessageDiv.appendChild(messageDivider)

            var divider = document.createElement("small")
            divider.classList.add("text-muted")
            divider.innerHTML = "Yesterday"
            messageDivider.appendChild(divider)
        }


        var msgP = document.createElement("p")
        msgP.innerHTML = validateText(msg)
        messageText.appendChild(msgP)


        if (!isNewMessage) {
            chatLog.insertBefore(newMessageDiv, chatLog.firstChild)
        } else {
            chatLog.appendChild(newMessageDiv)
            chatLog.scrollTop = chatLog.scrollHeight
        }

        if (!maintainPosition) {
            chatLog.scrollTop = chatLog.scrollHeight
        }

        // now that a default image is showing, load the actual image.
        // preloadImage(profile_image, profile_image_id) // called from base_js.html
    }

    function selectUser(user_id) {
        // Weird work-around for passing arg to url
        var url = "{% url 'account:view' user_id=53252623623632623 %}".replace("53252623623632623", user_id)
        var win = window.open(url, "_blank")
        win.focus()
    }

    function showClientErrorModal(message) {
        document.getElementById("id_client_error_modal_body").innerHTML = message
        document.getElementById("id_trigger_client_error_modal").click()
    }

    function displayChatroomLoadingSpinner(isDisplayed) {
        var spinner = document.getElementById("id_chatroom_loading_spinner")
        if (isDisplayed) {
            spinner.style.display = "block"
        } else {
            spinner.style.display = "none"
        }
    }

    function setConnectedUsersCount(count) {
        element = document.getElementById("id_connected_users")
        element.innerHTML = count + " Members Online"
    }
</script>


<!-- Client Error MODAL -->
<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal"
        data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Socket Client Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="id_client_error_modal_body">Something went wrong.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="id_client_error_modal_close_btn">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Client Error MODAL -->