{% load static %}
<!-- Chats -->
<div class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
    <div class="d-flex flex-column h-100 position-relative">
        <div class="hide-scrollbar">

            <div class="container py-8">
                <!-- Title -->
                <div class="mb-8">
                    <h2 class="fw-bold m-0">Chats</h2>
                </div>

                <!-- Search -->
                <div class="mb-6">
                    <form onsubmit="return executeQuery();">
                        <div class="input-group">
                            <div class="input-group-text">
                                <div class="icon icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </div>
                            </div>

                            <input type="text" class="form-control form-control-lg ps-0"
                                   placeholder="Search for users" aria-label="Search for users..." name="q"
                                   id="id_q_large">
                        </div>
                    </form>
                </div>

                <!-- Chats -->
                <div class="card-list">
                    {% for x in m_and_f %}
                        <!-- Card -->
                        <div class="card border-0 text-reset" onclick="onSelectFriend('{{ x.friend.id }}')"
                             id="id_friend_container_{{ x.friend.id }}">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div class="avatar avatar-online">
                                            <img src="{% static 'img/dummy_image.png' %}" alt="#" class="avatar-img"
                                                 id="id_friend_img_{{ x.friend.id }}">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 class="me-auto mb-0">{{ x.friend.username }}</h5>
                                            <span class="text-muted extra-small ms-2">08:45 PM</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div class="line-clamp me-auto">
                                                {{ x.message|truncatechars:20 }}
                                            </div>

                                            <div class="badge badge-circle bg-primary ms-5">
                                                <span>3</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </div>
                        <!-- Card -->
                    {% endfor %}
                </div>
                <!-- Chats -->
            </div>

        </div>
    </div>
</div>