{% load static %}
<!-- Chats -->
<div class="tab-pane fade h-100 show active" id="tab-content-chats" role="tabpanel">
    <div class="d-flex flex-column h-100 position-relative">
        <div class="hide-scrollbar">

            <div class="container py-8">
                <!-- Title -->
                <div class="d-flex justify-content-between mb-8">
                    <h2 class="fw-bold m-0">Chats</h2>
                    <a class="icon icon-lg text-muted d-xl-none my-auto me-6" href="#"
                       onclick="toggleMainClass()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </a>
                </div>

                <!-- Search -->
                <div class="mb-6">
                    {% include 'components/navbar/nav-search.html' %}

                    <!-- Invite button -->
                    <div class="mt-5">
                        <a href="#" class="btn btn-lg btn-primary w-100 d-flex align-items-center"
                           data-bs-toggle="modal" data-bs-target="#modal-invite">
                            Find Friends

                            <span class="icon ms-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user-plus"><path
                                        d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7"
                                                                                                     r="4"></circle><line
                                        x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17"
                                                                                    y2="11"></line></svg>
                            </span>
                        </a>
                    </div>
                </div>


                <!-- Chats -->
                <div class="card-list">
                    {% for x in m_and_f %}
                        <!-- Card -->
                        <div class="card border-0 text-reset" onclick="onSelectFriend('{{ x.friend.id }}')"
                             id="id_friend_container_{{ x.friend.id }}">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div class="avatar">
                                            <img src="{% static 'img/dummy_image.png' %}" alt="#" class="avatar-img"
                                                 id="id_friend_img_{{ x.friend.id }}">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 class="me-auto mb-0">{{ x.friend.username|truncatechars:14 }}</h5>
                                            <span class="text-muted extra-small ms-2">{{ x.message.timestamp|timesince }} ago</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div class="line-clamp me-auto">
                                                {% if x.message.user.id == request.user.id %}
                                                    You: {{ x.message|truncatechars:30 }}
                                                {% else %}
                                                    {{ x.message|truncatechars:30 }}
                                                {% endif %}

                                            </div>

                                            {#                                            <div class="badge badge-circle bg-primary ms-5">#}
                                            {#                                                <span>3</span>#}
                                            {#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </div>
                        <!-- Card -->
                    {% endfor %}
                    {% for group in groups %}
                        <!-- Card -->
                        <div class="card border-0 text-reset" onclick="onSelectGroup('{{ group.room.id }}')"
                             id="id_group_container_{{ group.room.id }}">
                            <div class="card-body">
                                <div class="row gx-5">
                                    <div class="col-auto">
                                        <div class="avatar avatar-online">
                                            <img src="{% static 'img/dummy_image.png' %}" alt="#" class="avatar-img"
                                                 id="id_group_img_{{ group.room.id }}">
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="d-flex align-items-center mb-3">
                                            <h5 class="me-auto mb-0">{{ group.room.title }}</h5>
                                            <span class="text-muted extra-small ms-2">08:45 PM</span>
                                        </div>

                                        <div class="d-flex align-items-center">
                                            <div class="line-clamp me-auto">
                                                {{ group.room.id }}
                                            </div>

                                            <div class="badge badge-circle bg-primary ms-5">
                                                <span>3</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card-body -->
                        </div>
                        <!-- Card -->
                    {% endfor %}
                </div>

                <!-- Chats -->
            </div>

        </div>
    </div>
</div>