{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main is-visible" data-dropzone-area="">
        <div class="container h-100">
            <div class="d-flex flex-column h-100 position-relative">
                <!-- Account Header -->
                <div class="offcanvas-header py-4 py-lg-7 border-bottom">
                    <a class="icon icon-lg text-muted d-xl-none" href="#" onclick="toggleMainClass()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-chevron-left">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                    </a>

                    <div class="visibility-xl-invisible overflow-hidden text-center">
                        {% if is_self %}
                            {% if first_name and last_name %}
                                <h5 class="text-truncate">{{ first_name }} {{ last_name }}</h5>
                            {% else %}
                                <h5 class="text-truncate">{{ username }}</h5>
                            {% endif %}
                        {% else %}
                            {% if not hide_info %}
                                {% if first_name and last_name %}
                                    <h5 class="text-truncate">{{ first_name }} {{ last_name }}</h5>
                                {% else %}
                                    <h5 class="text-truncate">{{ username }}</h5>
                                {% endif %}
                            {% else %}
                                <h5 class="text-truncate">{{ username }}</h5>
                            {% endif %}
                        {% endif %}
                    </div>

                    <!-- If Auth user is viewing their own profile -->
                    <div class="dropdown">
                        {% if is_self %}
                            <a class="icon icon-lg text-muted" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'account:edit' user_id=id %}"
                                       class="dropdown-item d-flex align-items-center">
                                        Edit Profile
                                        <div class="icon ms-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-edit-3">
                                                <path d="M12 20h9"></path>
                                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a href="{% url 'password_change' %}"
                                       class="dropdown-item d-flex align-items-center text-info">
                                        Change Password
                                        <div class="icon ms-auto">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-lock">
                                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                                {% if user.is_superuser %}
                                    <li>
                                        <a href="{% url 'admin:index' %}"
                                           class="dropdown-item d-flex align-items-center text-warning">
                                            Admin Dashboard
                                            <div class="icon ms-auto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-aperture">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                                                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                                                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                                                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                                                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                                                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                    </div>

                    <!-- Dropdown -->
                </div>
                <!-- Account Header -->

                <!-- Account Body -->
                <div class="offcanvas-body hide-scrollbar">
                    <!-- Avatar -->
                    <div class="text-center py-10">
                        <div class="row gy-6">
                            <div class="col-12">
                                <div class="avatar avatar-xxl mx-auto">
                                    <img id="id_profile_image" src="{% static 'img/dummy_image.png' %}" alt="#"
                                         class="avatar-img">
                                    {% if is_friend == False and is_self == False %}
                                        <!-- You sent them a request -->
                                        {% if request_sent == 1 %}
                                            <a href="" id="id_cancel_friend_request_btn"
                                               class="badge badge-xxl badge-circle bg-danger text-white border-outline position-absolute bottom-0 end-0">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-x-circle">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="15" y1="9" x2="9" y2="15"></line>
                                                    <line x1="9" y1="9" x2="15" y2="15"></line>
                                                </svg>
                                            </a>
                                        {% endif %}
                                        <!-- No requests have been sent -->
                                        {% if request_sent == -1 %}
                                            <a href="" id="id_send_friend_request_btn"
                                               class="badge badge-xxl badge-circle bg-primary text-white border-outline position-absolute bottom-0 end-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>

                            <div class="col-12">
                                {% if is_self %}
                                    {% if first_name and last_name %}
                                        <h4>{{ first_name }} {{ last_name }}</h4>
                                    {% else %}
                                        <h4>{{ username }}</h4>
                                    {% endif %}
                                    {% if bio %}
                                        <p>{{ bio }}</p>
                                    {% endif %}
                                {% else %}
                                    {% if not hide_info %}
                                        {% if first_name and last_name %}
                                            <h4>{{ first_name }} {{ last_name }}</h4>
                                        {% else %}
                                            <h4>{{ username }}</h4>
                                        {% endif %}
                                        {% if bio %}
                                            <p>{{ bio }}</p>
                                        {% endif %}
                                    {% else %}
                                        <h4>{{ username }}</h4>
                                    {% endif %}

                                {% endif %}
                                <!-- THEM to YOU -->
                                {% if request_sent == 0 %}
                                    <!-- Accept/Decline Request -->
                                    <div class="col-lg-2 col-md-3 col-5 mx-auto pt-4">
                                        <ul class="nav nav-pills justify-content-center">
                                            <li class="nav-item ">
                                                <button class="nav-link text-danger"
                                                        id="id_cancel_{{ id }}"
                                                        onclick='triggerDeclineFriendRequest("{{ pending_friend_request_id }}")'>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24"
                                                         fill="none" stroke="currentColor" stroke-width="2"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round" class="feather feather-user-x">
                                                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="8.5" cy="7" r="4"></circle>
                                                        <line x1="18" y1="8" x2="23" y2="13"></line>
                                                        <line x1="23" y1="8" x2="18" y2="13"></line>
                                                    </svg>

                                                </button>
                                            </li>
                                            <li class="nav-item">
                                                <button class="nav-link text-white badge badge-xl bg-success border-outline bottom-0 end-0"
                                                        id="id_confirm_{{ id }}"
                                                        onclick='triggerAcceptFriendRequest("{{ pending_friend_request_id }}")'>

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24"
                                                         fill="none" stroke="currentColor" stroke-width="2"
                                                         stroke-linecap="round"
                                                         stroke-linejoin="round" class="feather feather-user-check">
                                                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="8.5" cy="7" r="4"></circle>
                                                        <polyline points="17 11 19 13 23 9"></polyline>
                                                    </svg>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Accept/Decline Request -->
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!-- Avatar -->

                    <!-- Tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#offcanvas-tab-profile" role="tab"
                               aria-controls="offcanvas-tab-profile" aria-selected="true">
                                Profile

                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#offcanvas-tab-media" role="tab"
                               aria-controls="offcanvas-tab-media" aria-selected="true">
                                {% if friends|length > 0 %}
                                    Friends ({{ friends|length }})
                                {% else %}
                                    Friends
                                {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-users">
                                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="9" cy="7" r="4"></circle>
                                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                </svg>

                            </a>
                        </li>
                        {% if is_self %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#offcanvas-tab-files" role="tab"
                                   aria-controls="offcanvas-tab-files" aria-selected="false">
                                    Requests
                                    {% if friend_requests|length > 0 %}
                                        <div class="badge badge-circle bg-warning ms-2">
                                            <span class="text-light">{{ friend_requests|length }}</span>
                                        </div>
                                    {% endif %}

                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Tabs -->

                    <!-- Tabs: Content -->
                    <div class="tab-content py-2" role="tablist">
                        <!-- Profile -->
                        <div class="tab-pane fade show active" id="offcanvas-tab-profile" role="tabpanel">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>Username</h5>
                                            <p>{{ username }}</p>
                                        </div>

                                        <div class="col-auto">
                                            <div class="btn btn-sm btn-icon btn-dark">
                                                <a class="text-reset"
                                                   href="{% url 'account:view' user_id=id %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                         stroke-width="2"
                                                         stroke-linecap="round" stroke-linejoin="round"
                                                         class="feather feather-user">
                                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="12" cy="7" r="4"></circle>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        {% if is_self %}
                                            <div class="col">
                                                <h5>E-mail</h5>
                                                <p>{{ email }}</p>
                                            </div>
                                            <div class="col-auto">
                                                <div class="btn btn-sm btn-icon btn-dark">
                                                    <a href="mailto:{{ email }}" class="text-reset">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                             height="24"
                                                             viewBox="0 0 24 24"
                                                             fill="none" stroke="currentColor" stroke-width="2"
                                                             stroke-linecap="round"
                                                             stroke-linejoin="round" class="feather feather-mail">
                                                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                                            <polyline points="22,6 12,13 2,6"></polyline>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% if hide_info %}
                                                <div class="col">
                                                    <h5>E-mail</h5>
                                                    <p>*********************</p>
                                                </div>
                                            {% else %}
                                                <div class="col">
                                                    <h5>E-mail</h5>
                                                    <p>{{ email }}</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="btn btn-sm btn-icon btn-dark">
                                                        <a href="mailto:{{ email }}" class="text-reset">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24"
                                                                 viewBox="0 0 24 24"
                                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round"
                                                                 stroke-linejoin="round" class="feather feather-mail">
                                                                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                                                <polyline points="22,6 12,13 2,6"></polyline>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                                {% if is_self %}
                                    {% if birth_date %}
                                        <li class="list-group-item">
                                            <div class="row align-items-center gx-6">
                                                <div class="col">
                                                    <h5>Birth Date</h5>
                                                    <p>{{ birth_date|date:"m / d / Y" }}</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="btn btn-sm btn-icon btn-dark">
                                                        <a href="https://www.google.com/calendar/event?action=TEMPLATE&dates={% now "Y" %}{{ birth_date|date:"md" }}T180000Z%2F20220406T190000Z&text={{ username }}'s%20Birthday&location=&details=Celebrate%20{{ username }}'s%20Birthday!!"
                                                           target="_blank" class="text-reset">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none"
                                                                 stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 class="feather feather-calendar">
                                                                <rect x="3" y="4" width="18" height="18" rx="2"
                                                                      ry="2"></rect>
                                                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                                                <line x1="3" y1="10" x2="21" y2="10"></line>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    {% if not hide_info %}
                                        {% if birth_date %}
                                            <li class="list-group-item">
                                                <div class="row align-items-center gx-6">
                                                    <div class="col">
                                                        <h5>Birth Date</h5>
                                                        <p>{{ birth_date|date:"m / d / Y" }}</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="btn btn-sm btn-icon btn-dark">
                                                            <a href="https://www.google.com/calendar/event?action=TEMPLATE&dates={% now "Y" %}{{ user.birth_date|date:"md" }}T180000Z%2F20220406T190000Z&text={{ user.username }}'s%20Birthday&location=&details=Celebrate%20{{ username }}'s%20Birthday!!"
                                                               target="_blank" class="text-reset">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                     height="24" viewBox="0 0 24 24" fill="none"
                                                                     stroke="currentColor" stroke-width="2"
                                                                     stroke-linecap="round" stroke-linejoin="round"
                                                                     class="feather feather-calendar">
                                                                    <rect x="3" y="4" width="18" height="18" rx="2"
                                                                          ry="2"></rect>
                                                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}


                            </ul>

                            {% if is_friend %}
                                <ul class="list-group list-group-flush border-top mt-8">
                                    <li class="list-group-item">
                                        <a class="d-flex align-items-center" href="#"
                                           onclick="createOrReturnPrivateChat('{{ id }}')">
                                            Send Message
                                            <div class="icon ms-auto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                     stroke-width="2"
                                                     stroke-linecap="round" stroke-linejoin="round"
                                                     class="feather feather-send">
                                                    <line x1="22" y1="2" x2="11" y2="13"></line>
                                                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="list-group-item">
                                        <a class="d-flex align-items-center text-danger" href="#" data-bs-toggle="modal"
                                           data-bs-target="#unfriendModal">
                                            <span class="me-auto">Unfriend</span>
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round" class="feather feather-user-x">
                                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="8.5" cy="7" r="4"></circle>
                                                    <line x1="18" y1="8" x2="23" y2="13"></line>
                                                    <line x1="23" y1="8" x2="18" y2="13"></line>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        <!-- Profile -->

                        <!-- Friends List -->
                        <div class="tab-pane fade" id="offcanvas-tab-media" role="tabpanel">
                            <div class="list-group list-group-flush">
                                {% if id == request.user.id %}
                                    {% include 'friend/friend_list.html' %}
                                {% elif is_friend == True %}
                                    {% if hide_friends %}
                                        <li class="list-group-item">
                                            <div class="row align-items-center gx-5">
                                                <!-- Text -->
                                                <div class="col overflow-hidden">
                                                    <div class="card border-0 mb-5">
                                                        <div class="card-body text-center">
                                                            <h4 class="text-muted mb-1">Sorry! Your Friend Chose to Hide
                                                                Their Friend List 😥
                                                            </h4>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    {% else %}
                                        {% include 'friend/friend_list.html' %}
                                    {% endif %}
                                {% else %}
                                    <li class="list-group-item">
                                        <div class="row align-items-center gx-5">
                                            <!-- Text -->
                                            <div class="col overflow-hidden">
                                                <div class="card border-0 mb-5">
                                                    <div class="card-body text-center">
                                                        <h4 class="text-muted mb-1"> Sorry! You Have to be Friends to
                                                            See Their Friend List 😥</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}

                            </div>
                        </div>
                        <!-- Friends List -->

                        <!-- Friend Requests -->
                        <div class="tab-pane fade" id="offcanvas-tab-files" role="tabpanel">
                            <ul class="list-group list-group-flush">
                                <!-- Item -->
                                {% include 'friend/friend_requests.html' %}
                            </ul>
                        </div>
                        <!-- Requests -->
                    </div>
                    <!-- Tabs: Content -->
                </div>
                <!-- Account Body -->

            </div>

        </div>
    </main>

    {% if is_friend %}
        <!-- Modal -->
        <div class="modal fade" id="unfriendModal" tabindex="-1"
             aria-labelledby="unfriendModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="unfriendModalLabel">
                            Unfriend {{ username }}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to unfriend {{ username }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">No
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-danger"
                                onclick="removeFriend('{{ id }}', onFriendRemoved)">Yes

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-trash-2">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">

        preloadImage("{{profile_image|safe}}", 'id_profile_image')

        function onFriendRequestSent() {
            location.reload();
        }

        function onFriendRequestCancelled() {
            location.reload();
        }

        function onFriendRemoved() {
            location.reload();
        }

        function onFriendRequestAccepted() {
            location.reload();
        }

        function onFriendRequestDeclined() {
            location.reload();
        }


        var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
        if (sendFriendRequestBtn != null) {
            sendFriendRequestBtn.addEventListener("click", function () {
                sendFriendRequest("{{id}}", onFriendRequestSent)
            })
        }

        var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
        if (cancelFriendRequestBtn != null) {
            cancelFriendRequestBtn.addEventListener("click", function () {
                cancelFriendRequest("{{id}}", onFriendRequestCancelled)
            })
        }

        var removeFriendBtn = document.getElementById("id_unfriend_btn")
        if (removeFriendBtn != null) {
            removeFriendBtn.addEventListener("click", function () {
                removeFriend("{{id}}", onFriendRemoved)
            })
        }

        function triggerAcceptFriendRequest(friend_request_id) {
            acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
        }

        function triggerDeclineFriendRequest(friend_request_id) {
            declineFriendRequest(friend_request_id, onFriendRequestDeclined)
        }
    </script>

    {% include 'friend/snippets/send_friend_request.html' %}
    {% include 'friend/snippets/accept_friend_request.html' %}
    {% include 'friend/snippets/decline_friend_request.html' %}
    {% include 'friend/snippets/cancel_friend_request.html' %}
    {% include 'friend/snippets/remove_friend.html' %}
    {% include 'components/create_or_return_private_chat.html' %}



{% endblock content %}



