{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>{% block title %}Home{% endblock title %}</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700" rel="stylesheet">

    <!--  Local  -->
    <link rel="stylesheet" href="{% static 'css/style.dark.css' %}" media="(prefers-color-scheme: dark)">
    {#    <link rel="stylesheet" href="{% static 'css/style.light.css' %}">#}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/vendor.js' %}"></script>

    <!--  jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!--  Cropper JS  -->
    <link rel=" stylesheet
    " href="{% static 'cropperjs/dist/cropper.min.css' %}">
    <script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

    <!--  Collections  -->
    <script src="{% static 'collections/collections.min.js' %}"></script>

    <!--  Markdown-it & Highlight JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.3.2/markdown-it.min.js"
            integrity="sha512-TIDbN32lXOg2Mw1VcnKrQLZgfALryJogWCu/NHWtlMCR1jget+mOwMtdehBBZz2f9PKeK2AQPwVxkbl4u/1H5g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/java.min.js"
            integrity="sha512-vePi8kzEODboqUigQ4vAOL5ghcEv1rnZEv7ETk4XD1VOG7Ooo7ZsirvjF617LVYJ7StgbGkjXXiKALR/RrkM5w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/javascript.min.js"
            integrity="sha512-Z5vOg00atIeZ04QhYxz3iRlFnU5qnrB0eYbBDmXMhHqJYx4dc6n1KY5qzh3fEfrFzaR05D34mOin6ObjPjuWdA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/python.min.js"
            integrity="sha512-efcjzRpCxyR9hzqNDmYMy202NuRdmiGm80QQg4o6Dh3DdU+fbnC6BKGuJrRMbLLYm70+lR55mkCMiZETYHKGVw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
</head>


<body>
<div class="container" id="id_loading_spinner" style="display: none">
    <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Layout -->
<div class="layout overflow-hidden">
    <!-- Navigation -->
    {% include 'components/navbar/navbar.html' %}

    <!-- Sidebar -->
    <aside class="sidebar bg-light">
        <div class="tab-content h-100" role="tablist">
            {% include 'components/navbar/nav-create.html' %}
            {% include 'components/navbar/nav-general-notification.html' %}
            {% include 'components/navbar/nav-chat.html' %}
            {% include 'components/navbar/nav-chat-notification.html' %}
            {% include 'components/navbar/nav-settings.html' %}

        </div>
    </aside>
    <!-- Sidebar -->

    <!-- Chat -->
    {% block content %}
        <main class="main">
            <div class="container h-100">

                <div class="d-flex flex-column h-100 justify-content-center text-center">
                    <div class="mb-6">
                            <span class="icon icon-xl text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-message-square"><path
                                        d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                            </span>
                    </div>

                    <p class="text-muted">Pick a person from left menu, <br> and start your conversation.</p>
                </div>

            </div>
        </main>
    {% endblock content %}
    {% include 'components/modal-invite.html' %}
    {% include 'components/modal-profile.html' %}
    <!-- Chat -->

</div>
<!-- Layout -->


<script type="text/javascript">
    function displayLoadingSpinner(isDisplayed) {
        var spinner = document.getElementById("id_loading_spinner")
        if (isDisplayed) {
            spinner.style.display = "block"
        } else {
            spinner.style.display = "none"
        }
    }
</script>
</body>

</html>