{% load static %}
<!-- Modal: Profile -->
<div class="modal fade" id="modal-profile" tabindex="-1" aria-labelledby="modal-profile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-xl-down">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body py-0">
                <!-- Header -->
                <div class="profile modal-gx-n">
                    <div class="profile-img text-primary rounded-top-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 400 140.74">
                            <defs>
                                <style>.cls-2 {
                                    fill: #fff;
                                    opacity: 0.1;
                                }</style>
                            </defs>
                            <g>
                                <g>
                                    <path d="M400,125A1278.49,1278.49,0,0,1,0,125V0H400Z"/>
                                    <path class="cls-2"
                                          d="M361.13,128c.07.83.15,1.65.27,2.46h0Q380.73,128,400,125V87l-1,0a38,38,0,0,0-38,38c0,.86,0,1.71.09,2.55C361.11,127.72,361.12,127.88,361.13,128Z"/>
                                    <path class="cls-2"
                                          d="M12.14,119.53c.07.79.15,1.57.26,2.34v0c.13.84.28,1.66.46,2.48l.07.3c.18.8.39,1.59.62,2.37h0q33.09,4.88,66.36,8,.58-1,1.09-2l.09-.18a36.35,36.35,0,0,0,1.81-4.24l.08-.24q.33-.94.6-1.9l.12-.41a36.26,36.26,0,0,0,.91-4.42c0-.19,0-.37.07-.56q.11-.86.18-1.73c0-.21,0-.42,0-.63,0-.75.08-1.51.08-2.28a36.5,36.5,0,0,0-73,0c0,.83,0,1.64.09,2.45C12.1,119.15,12.12,119.34,12.14,119.53Z"/>
                                    <circle class="cls-2" cx="94.5" cy="57.5" r="22.5"/>
                                    <path class="cls-2" d="M276,0a43,43,0,0,0,43,43A43,43,0,0,0,362,0Z"/>
                                </g>
                            </g>
                        </svg>

                        <div class="position-absolute top-0 start-0 py-6 px-5">
                            <button type="button" class="btn-close btn-close-white btn-close-arrow opacity-100"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>

                    <div class="profile-body">
                        <div class="avatar avatar-xl">
                            <img class="avatar-img" src="{{ user.profile_image.url }}" alt="">
                        </div>
                        {% if user.first_name and user.last_name %}
                            <h4 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h4>
                        {% else %}
                            <h4 class="mb-1">{{ user.username }}</h4>
                        {% endif %}
                        {% if user.bio %}
                            <p>{{ user.bio }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Header -->

                <hr class="hr-bold modal-gx-n my-0">

                <!-- List -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row align-items-center gx-6">
                            <div class="col">
                                <h5>Username</h5>
                                <p>{{ user.username }}</p>
                            </div>
                            <div class="col-auto">
                                <div class="btn btn-sm btn-icon btn-dark">
                                    <a class="text-reset" href="{% url 'account:view' user_id=request.user.id %}">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-user">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row align-items-center gx-6">
                            <div class="col">
                                <h5>E-mail</h5>
                                <p>{{ user.email }}</p>
                            </div>

                            <div class="col-auto">
                                <div class="btn btn-sm btn-icon btn-dark">
                                    <a href="mailto:{{ user.email }}" class="text-reset">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" class="feather feather-mail">
                                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                            <polyline points="22,6 12,13 2,6"></polyline>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    {% if user.birth_date %}
                        <li class="list-group-item">
                            <div class="row align-items-center gx-6">
                                <div class="col">
                                    <h5>Birth Date</h5>
                                    <p>{{ user.birth_date|date:"m / d / Y" }}</p>
                                </div>
                                <div class="col-auto">
                                    <div class="btn btn-sm btn-icon btn-dark">
                                        <a href="https://www.google.com/calendar/event?action=TEMPLATE&dates=
                                                {% now "Y" %}{{ birth_date|date:"md" }}T180000Z%2F20220406T190000Z&text={{ username }}'s%20Birthday&location=&details=Celebrate%20{{ username }}'s%20Birthday!!"
                                           target="_blank" class="text-reset">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-calendar">
                                                <rect x="3" y="4" width="18" height="18" rx="2"
                                                      ry="2"></rect>
                                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                                <line x1="3" y1="10" x2="21" y2="10"></line>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}


                </ul>
                <!-- List  -->

                <hr class="hr-bold modal-gx-n my-0">

                <!-- List -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row align-items-center gx-6">
                            <div class="col">
                                <h5>Dark Mode</h5>
                                <p>Activate Dark Mode.</p>
                            </div>

                            <div class="col-auto">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="profile-status" checked>
                                    <label class="form-check-label" for="profile-status"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- List -->

                <hr class="hr-bold modal-gx-n my-0">

                <!-- List -->
                <ul class="list-group list-group-flush">
                    {% if user.is_superuser %}
                        <li class="list-group-item">
                            <a href="{% url 'admin:index' %}" class="text-reset" title="Admin Dashboard">Admin
                                Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <a href="{% url 'account:edit' user_id=user.id %}" class="text-reset" title="Edit Profile">Edit
                            Profile</a>
                    </li>

                    <li class="list-group-item">
                        <a href="{% url 'logout' %}" class="text-danger">Logout</a>
                    </li>
                </ul>
                <!-- List -->
            </div>
            <!-- Modal body -->

        </div>
    </div>
</div>